.donate {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba($orange, .85);
  color: $white;
  text-align: center; 
  z-index: 100;
  padding: 0.8rem 1rem;

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-text {
    color: $white;
    align-self: center;
    margin: 0 1rem 0 0;
    text-align: left;
  }

  &-button {
    margin-left: auto;
    background-color: $white;
    color: $orange;
  }
}