@font-face {
  font-family: 'Compromis';
  src: url('../fonts/akkurat-webfont.eot?2');
  src: url('../fonts/akkurat-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/akkurat-webfont.woff?2') format('woff'),
       url('../fonts/akkurat-webfont.ttf?2') format('truetype'),
       url('../fonts/akkurat-webfont.svg#AkkuratRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compromis';
  src: url('../fonts/akkurat-bold-webfont.eot?2');
  src: url('../fonts/akkurat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/akkurat-bold-webfont.woff?2') format('woff'),
       url('../fonts/akkurat-bold-webfont.ttf?2') format('truetype'),
       url('../fonts/akkurat-bold-webfont.svg#Akkurat-BoldRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}
