.navbar {
  &.bg-light {
    background: $white !important;
  }

  a.navbar-brand {
    font-family: 'Oswald';
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 2rem;
    color: $orange;

    .year {
      color: $gray-500;
    }
  }

  .nav-link {
    &.social-icon {
      background: $white;

      &.facebook:hover {
        color: #3b5998;
      }

      &.twitter:hover {
        color: #38A1F3;
      }

      &.instagram:hover {
        color: #DD2A7B;
      }

      &.whatsapp:hover {
        color: #25D366;
      }
    }

    &.donate-button {
      display: flex;
      align-items: center;
      color: $orange;

      span {
        display: block;
        border: 2px $orange solid;
        padding: .25rem .5rem;
        transition: .1s ease-in-out;
      }

      &:hover {
        color: $white;

        span {
          background: $orange;
        }
      }
    }
  }

  &-logo {
    margin-left: auto;
    margin-right: .75rem;
  }

  .compromis-logo {
    width: 40px;
    overflow: hidden;
    transition: .2s ease-in-out;

    svg {
      width: 180px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar {
    &-logo {
      order: 4;
    }

    .compromis-logo {
      width: 190px;
    }

    .donate-button {
      margin: 0 1rem;
    }

    .nav-link {
      &.social-icon {
        font-size: 1.5rem;
      }

      &.language-option {
        display: flex;
        align-self: center;
        margin-right: 1.25rem;
        border-right: 1px $gray-500 solid;
        padding-right: 1.25rem;
      }
    }
  }
}