.news, .calendar {
  padding: 1rem 0;

  h2 {
    font-size: 4rem;
    margin: 1rem 0 2rem 0;
    letter-spacing: -3px;
    font-weight: bold;
    color: $gray-400;
    margin-left: 1rem;
  }

  &-story {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-bottom: 1px $gray-300 solid;
    color: $gray-800;
    transition: .25s ease-in-out;

    &:hover {
      text-decoration: none;
      color: $orange;
      background: $gray-100;
    }

    &-headline {
      display: flex;
      flex-direction: column;
    }

    h5 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-thumbnail {
      flex-shrink: 0;
      width: 100%;
      margin-right: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;
    }

    &-excerpt {
      color: $gray-600;
    }

    &-readmore {
      margin-top: auto;
      color: $gray-600;
    }
  }

  &-more {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
  }
}

@include media-breakpoint-up(md) {
  .news {
    &-story {
      flex-direction: row;

      &-thumbnail {
        width: 250px;
        max-height: 150px;
        margin-bottom: 0;
      }
    }
  }
}
