.poster {
  margin-bottom: 2rem;
  background-color: $beige;

  &-image {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
  }

  &-text {
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
  }

  &-bubble {
    position: relative;
    z-index: 10;
    padding: 2rem;
    border-radius: 1rem;
  }

  @each $id, $colors in $posters {
    &-#{$id} {
      .poster-image {
        background-image: url(../images/posters/poster-#{$id}.jpg);
      }

      .poster-bubble {
        background-color: map-get($colors, 'background');
        color: map-get($colors, 'text');
      }
    }
  }

  &-1 .poster-image,
  &-5 .poster-image {
    background-position: bottom;
  }
}

@include media-breakpoint-up(lg) {
  .poster {
    height: 40vw;

    &-image {
      background-size: cover;
      height: 40vw;
      order: 1;
    }

    &-text {
      padding: 2.75vw;
      font-size: 2.2vw;
      height: 40vw;
      order: 2;
    }

    &-bubble {
      width: 80%;
      max-width: 500px;
      margin-left: auto;
    }

    @each $id, $props in $posters {
      &-#{$id} {
        .poster-text {
          text-align: map-get($props, 'align');
        }
      }
    }

    &-2 .poster-text,
    &-4 .poster-text {
      order: 1;
    }

    &-2 .poster-bubble,
    &-4 .poster-bubble {
      margin: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .poster {
    height: auto;

    &-text,
    &-image {
      height: 40rem;
      font-size: 2.18rem;
      padding: 3rem;
    }
  }
}