// Colors
$blue: #447F98;
$indigo: #4D5099;
$pink: #DE8999;
$orange: #DB742E;
$green: #477F50;

// Posters
$posters: (
  '1': (
    'background': $pink,
    'text': $blue,
    'align': 'right'
  ),
  '2': (
    'background': $orange,
    'text': $indigo,
    'align': 'left'
  ),
  '3': (
    'background': $green,
    'text': $pink,
    'align': 'right'
  ),
  '4': (
    'background': $blue,
    'text': $pink,
    'align': 'left'
  ),
  '5': (
    'background': $indigo,
    'text': $orange,
    'align': 'right'
  )
);

// Fonts
$font-family-sans-serif: 'Compromis', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
